
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/XabtmCk.png">
    <title>ChooseRooms</title>
    <link href="~/Content/ChooseRooms.css" rel="stylesheet" />
    <style>
        .backbutton {
            width:128px;
            height:55px;
            top:-1030px;
            left: -680px;
        }
    </style>
</head>

<body>
    <div class="chooseroom-page">
        <img src="https://i.imgur.com/ezcCZ6g.png" alt="Can not find the image source." class="background-img">

        <div class="items house">
            <img src="https://i.imgur.com/UYAAMNQ.png" alt="Can not find the image source." class="house-img">
        </div>

        <div class="items livingroom">
            <a href="~/Home/Livingroom"><img src="https://i.imgur.com/aCzRyWr.png" alt="Can not find the image source." class="livingroom-img"></a>
        </div>

        <div class="items bathroom">
            <a href="~/Home/Bathroom"><img src="https://i.imgur.com/E28oZCU.png" alt="Can not find the image source." class="bathroom-img"></a>
        </div>

        <div class="items bedroom">
            <a href="~/Home/Bedroom"><img src="https://i.imgur.com/BVaBYO0.png" alt="Can not find the image source." class="bedroom-img"></a>
        </div>

        <div class="items study">
            <a href="~/Home/Study"><img src="https://i.imgur.com/gpKkUh6.png" alt="Can not find the image source." class="study-img"></a>
        </div>

        <div class="items backbutton">
            <a href="~/Home/Rules"><img src="https://i.imgur.com/bkC3uzP.png" alt="Can not find the image source." id="backbutton-img"></a>
        </div>

        <audio src="~/Content/bensound-buddy.mp3" autoplay type="audio/mpeg"></audio>
    </div>
</body>

</html>